{% extends 'header_footer.html' %}

{% block title %}
<title>Landing Page</title>
{% endblock %}

{% block body %}

<section class="cid-szF9nTYzan mbr-fullscreen mbr-parallax-background" id="header2-20">
    <div class="mbr-overlay"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    Organic food
                </h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    You are what you eat. Best fruits and vegetables for you table. <br> Make order today and get compliment in discount.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="features10 cid-szF9wBNiWc" id="features10-21">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-sun2"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">
                        Organic
                    </h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">
                       All products are 100% organic.
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-paper-plane"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">
                        Support
                    </h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">
                       Do not hesitate to us, if have any questions.
                    </p>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media mb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-edit"></span>
                    </div>
                    <h4 class="card-title media-body py-3 mbr-fonts-style display-7">
                        Unique meals
                    </h4>
                </div>
                <div class="card-box">
                    <p class="mbr-text mbr-fonts-style display-7">
                       Create meals for your special program.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services1 cid-szFaf7S53Z" id="services1-22">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title pb-5 col-12">
                <h2 class="align-left pb-3 mbr-fonts-style display-1">
                    Our Shop
                </h2>
            </div>
            {% for el in data %}
            <div class="card col-12 col-md-6 p-3 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="/img/{{ el.id }}" alt="Putyak" style="width: 170px; height: 170px; display: block; margin-right: auto;">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-5">
                            {{ el.title }}
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            {{ el.description }}
                        </p>
                        {% if el.id in button_visible %}
                        <p>Product added to cart</p>
                        {% else %}
                        <div class="mbr-section-btn align-left">
                            <a href="/to-cart/{{ el.id }}" class="btn btn-warning-outline display-4">
                                $ {{ el.price }}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="features14 cid-szFcCxlpHk" id="features14-2c">
    <div class="container align-center">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
            Your trust is our best reward!
        </h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style display-5">
            Modern approaches allow you to create truly amazing products.
        </h3>
        <div class="media-container-column">
            <div class="row justify-content-center">
                <div class="card p-4 col-12 col-md-6 col-lg-4">
                    <div class="media pb-3">
                        <div class="card-img align-self-center">
                            <span class="mbr-iconfont mbri-quote-left"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                                Irrigation
                            </h4>
                        </div>
                    </div>                
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">
                           The irrigation system is the key to a successful harvest.
                        </p>
                    </div>
                </div>

                <div class="card p-4 col-12 col-md-6 col-lg-4">
                <div class="media pb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-star"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                                The harvest
                        </h4>
                    </div>
                </div>
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">
                            Harvesting carefully.
                        </p>
                    </div>
                </div>

                <div class="card p-4 col-12 col-md-6 col-lg-4">
                <div class="media pb-3">
                    <div class="card-img align-self-center">
                        <span class="mbr-iconfont mbri-update"></span>
                    </div>
                    <div class="media-body">
                        <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                            Selection
                        </h4>
                    </div>
                </div>
                    <div class="card-box align-left">
                        <p class="mbr-text mbr-fonts-style display-7">
                           We constantly display and select only the most juicy and healthy products.
                        </p>
                    </div>
                </div>
            </div>
            <div class="media-container-row image-row">
                <div class="mbr-figure" style="width: 60%;">
                    <img src="{{ url_for('static', filename='assets/images/background1.jpg') }}" alt="Putyak">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map1 cid-szFav9Bktf" id="map1-23">
    <div style="background-color: #fff; width: 100%">
        <div class="google-map"
             style="max-width: 80%; margin-left: auto; margin-right: auto; background-color: #fff; color: #fff">
            <iframe frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZI5F_k6S1k46ujh0SNrapM89f7mJxd30&amp;q=350 5th Ave, New York, NY 10118"
                    allowfullscreen=""></iframe>
        </div>
    </div>
</section>
  
{% endblock %}