
{% extends 'base.html' %}

{% block title %}
    <title>Landing Page | Orders</title>
{% endblock %}


{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Orders</h1>
  <p class="lead">Your last orders</p>
</div>

<div class="container">

{% if memo %}

<div class="col-6 col-md">
    <h5>Order list is not avalibal, beacause you didn't <a class="stretched-link" href="/signin">sign in</a>.</h5>
</div>

{% else %}


    {% if data|length > 0 %}

       {% for el in data %}
       <br> Номер заказа: {{ el.purchase_id }} <br>
       <br> Дата заказа:  {% for d in date %} {% if el.purchase_id == d.purchase_id %} {{ d.cdate }} {% endif %} {% endfor %}<br>
       <br>  {% for i in el.data %}
    <div style="display: block; overflow: hidden; margin: 0 auto;">
        <div style="float: left; width: 75px">
            <img src="/img/{{ i.product_id }}" style="width: 55px; height: 55px;">
        </div>
        <div>
            Товар: {{ i.product_name }}<br>
            Описание: {{ i.product_description }}<br>
            Цена: {{ i.price }}<br>
            Количество: {{ i.count }}<br>
            <br>
        </div>
    </div>
    {% endfor %}
    Итого: {% for t in total %} {% if el.purchase_id == t.purchase_id %} {{ t.total }} {% endif %} {% endfor %} р.

    <br>

    <hr>

  {% endfor %}

    {% else %}
    List is empty. You don't have order yet.
    {% endif %}

{% endif %}

</div>


{% endblock %}

