
{% extends 'base.html' %}

{% block title %}
    <title>Landing Page | Orders</title>
{% endblock %}


{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Заказы</h1>
  <p class="lead">Список заказов</p>
</div>

<div class="container">

{% if memo %}

    Список заказов не доступен, так как вы не авторизовались.

{% else %}


    {% if data|length > 0 %}

       {% for el in data %}
       <br> Номер заказа: {{ el.purchase_id }} <br>
       <br> Дата заказа: {{ date }} <br>
       <br>  {% for i in el.data %}
    <div style="display: block; overflow: hidden; margin: 0 auto;">
        <div style="float: left; width: 75px">
            <img src="/img/{{ i.good_id }}" style="width: 55px; height: 55px;">
        </div>
        <div>
            Товар: {{ i.good_id }}<br>
            Цена: {{ i.price }}<br>
            Количество: {{ i.count }}<br>
            <br>
        </div>
    </div>
    {% endfor %}
    Итого: {{ el.data | sum(attribute='price') }} р.

    <br>

    <hr>

  {% endfor %}

    {% else %}
    Список заказов пуст. Заказов еще не было.
    {% endif %}

{% endif %}

</div>


{% endblock %}

